@model MyAppModels.ViewModels.CartVM
 
<section class="h-100 h-custom" style="background-color: grey;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text">Shopping Cart</h1>
                  </div>
                
                  @foreach(var  item in Model.ListOfCart){

                  <hr class="my-4">
                   <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="@item.Hotel.ImageUrl"
                        class="img-fluid rounded-3" alt="Hotel ">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">@item.Hotel.Name  <p class="text-muted mb-0">@item.Hotel.Location</p></h6>
                      <h6 class="text-muted mb-0">@item.Hotel.Category</h6>
                      <p class="text-muted mb-0">@item.Hotel.Description</p>
                    </div>
                  
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">@item.Hotel.Price</h6>
                      <h6 class="mb-0">@item.Count</h6>
                    </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <a asp-action="minus" asp-route-id="@item.Id" class="btn btn-link px-2">
                        <i class="bi bi-dash-circle"></i>
                      </a>
                      <a asp-action="plus" asp-route-id="@item.Id" class="btn btn-link px-2">
                      <i class="bi bi-plus-circle"></i>
                      </a>
                    </div>
                     <div class="col-md col-lg col-xl">
                    <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-link px-2">
                       <i class="bi bi-trash-fill"></i>
                      </a>
                    </div>
                  </div>
                }
               
                  <hr class="my-4">
                     <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total price</h5>
                    <h5>@Model.Total.ToString("c")</h5>
                  </div>
                 <div class="form-control">
                <a class="btn btn-success" asp-action="Index" asp-controller="Home">Back to Hotels</a>
                <a class="btn btn-danger" asp-action="Pay" asp-controller="Cart">Proceed to pay</a>
            </div>
             
                </div>
              </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>